* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --box-shadow: 4px 4px black;
    --border: 3px solid black;
    margin: 0;
    padding: 0;
}
/* || body of library */
#container {
    background-color: #FFDCA8;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1%;
    max-width: 100%;
}
/* || header */
#header {
    min-height: fit-content;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
/* ********** logo ********** */
.logo {
    position: sticky;
    display: flex;
    color: white;
    background-color: black;
    border: 3px solid black;
    margin-left: 10%;
    text-align: center;
    min-height: fit-content;
}
.logo span {
    font-size: 2rem;
    margin: 20px;
}
/* || books */
#books-section {
    display: flex;
    height: 100%;
    padding: 30px;
    justify-content: center;
    align-items: center;
}
/* ********** book card ********** */
.card {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 20%;
    box-shadow: var(--box-shadow);
    border: var(--border);
}
/* ********** card header ********** */
.card-header {
    text-align: center;
    background-color: #bd00ff;
    padding: 20px 30px;
    border-bottom: var(--border);
}
/* ********** card body ********** */
.card-body {
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.author , .pages {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 8px;
}
.delete , .read-status{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF272A;
    border: var(--border);
    box-shadow: var(--box-shadow);
    height: 3em;
    width: 100%;
}
.read-status {
    background-color: 	#01ff1f;
}