* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --box-shadow: 4px 4px black;
    --border: 3px solid black;
    margin: 0;
    padding: 0;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border);
    box-shadow: var(--box-shadow);
    /* height: 3em; */
    width: 100%;
}
button:hover {
    cursor: pointer;
    box-shadow: none;
}
/* || body of library */
#container {
    background-color: #FFDCA8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 1%;
    padding-top: 0;
    max-width: 100%;
}
/* || header */
#header {
    min-height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ********** logo ********** */
.logo {
    position: relative;
    display: flex;
    color: white;
    background-color: #000000;
    margin-left: 10%;
    text-align: center;
    min-height: fit-content;
}
.logo span {
    font-size: 2rem;
    margin: 20px;
}
/* ********** add new book ********** */
.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 90px;
    margin-right: 10%;
    background-color: #01ff1f;
    border: var(--border);
    box-shadow: var(--box-shadow);
}
/* || books */
#books-section {
    height: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
}
/* ********** book card ********** */
.card {
    display: flex;
    flex-direction: column;
    height: 350px;
    box-shadow: var(--box-shadow);
    border: var(--border);
}
/* ********** card header ********** */
.card-header {
    text-align: center;
    background-color: #FF9a88;
    padding: 20px 30px;
    border-bottom: var(--border);
}
/* ********** card body ********** */
.card-body {
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 15px;
}
.author , .pages , .read-status {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}
.delete{
    background-color: #FF272A;
}
/* ********** add-book card ********** */
.add-book .card-body {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    gap: 15px;
}
input,select {
    outline: none;
    border-radius: 3px;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding-left: 5px;
    font-size: 1em;
}
#add-button {
    background-color: #FFDCA8;
}