* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* || body of library */
#container {
    background-color: antiquewhite;
    display: grid;
    grid-template-rows: 10% 90%;
    height: 100vh;
}
/* || header */
#header {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
/* ********** logo ********** */
.logo {
    position: sticky;
    display: flex;
    color: black;
    background-color: rgb(228, 59, 228);
    border: 3px solid black;
    margin-left: 10%;
    text-align: center;
    min-height: fit-content;
    box-shadow: 4px 4px black;
}
.logo span {
    font-size: 2rem;
    margin: 20px;
}
/* || books */
#books-section {
    display: none;
}